$font1: var(--font-secondary), sans-serif;
$font2: var(--font-primary), sans-serif;

$d1: 135px;
$d2: 100px;

$h1: 77px;
$h2: 57px;
$h3: 43px;
$h4: 32px;
$h5: 24px;
$h6: 18px;

$b1: 24px;
$b2: 18px;
$b3: 16px;
$b4: 14px;
$b5: 12px;

$quote1: 30px;
$quote2: 22px;

$c1-1: #d94625;
$c1-2: #d86349;
$c1-3: #884c3f;

$c2-1: #212121;
$c2-2: #898d96;
$c2-3: #c4c4c4;
$c2-4: #f8f8f8;
$c2-5: #ffffff;

$t: 0.3s cubic-bezier(0, 0, 0.3642, 1);
